*.project
*.svn
.settings/
*.settings
target/**
/target
target/
**/target
.classpath
META-INF/
*.class
classes/
*.factorypath
*.iml
.idea/**
**/logs
*.log
*.temp
*.jar
*.war
*.ear
*.zip
*.tar.gz
.gradle/
build/
*/build/
gradlew
*/.DS_Store
.DS_Store
*/*.iml
